
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Registros de tabla persona</h1>
  <p class="mb-4">Entradas registradas dentro de la tabla "persona".</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Persona</h6>
      </div>
      <div class="card-body">
          <div class="table-responsive">   
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevo">Registrar</button>
            <!-- Divider -->
            <hr class="sidebar-divider my-3">
            
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th scope="col ">N</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Ape. Paterno</th>
                      <th scope="col">Ape. Materno</th>
                      <th scope="col">CI</th>
                      <th scope="col">Sexo</th>
                      <th scope="col">...</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Juan </td>
                      <td>Perez</td>
                      <td>Pereira</td>
                      <td>5454545</td>
                      <td>Masculino</td>
                      <td>
                          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#edit">editar</button>
                          <button class="btn btn-outline-danger" >eliminar</button>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Juan </td>
                      <td>Perez</td>
                      <td>Pereira</td>
                      <td>5454545</td>
                      <td>Masculino</td>
                      <td>
                          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#edit">editar</button>
                          <button class="btn btn-outline-danger" >eliminar</button>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Juan </td>
                      <td>Perez</td>
                      <td>Pereira</td>
                      <td>5454545</td>
                      <td>Masculino</td>
                      <td>
                          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#edit">editar</button>
                          <button class="btn btn-outline-danger" >eliminar</button>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Juan </td>
                      <td>Perez</td>
                      <td>Pereira</td>
                      <td>5454545</td>
                      <td>Masculino</td>
                      <td>
                          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#edit">editar</button>
                          <button class="btn btn-outline-danger" >eliminar</button>
                      </td>
                    </tr>
            </table>
          </div>
      </div>
   </div>

<!-- /.container-fluid -->
      <!-- Modal -->
  <div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Editar persona</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su nombre">
                <label for="exampleInputEmail1" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su apellido paterno">
                <label for="exampleInputEmail1" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su apellido materno">
                <label for="exampleInputEmail1" class="form-label">CI</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su CI">
                <label for="exampleInputEmail1" class="form-label">Sexo</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su Sexo">
              </div>
                        
              <button type="button" class="btn btn-outline-success">Guardar</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
  </div>
        <!-- Modal -->
  <div class="modal fade" id="nuevo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Registrar nueva persona</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su nombre">
              <label for="exampleInputEmail1" class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su apellido paterno">
              <label for="exampleInputEmail1" class="form-label">Apellido Materno</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su apellido materno">
              <label for="exampleInputEmail1" class="form-label">CI</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su CI">
              <label for="exampleInputEmail1" class="form-label">Sexo</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su Sexo">
            </div>
                      
            <button type="button" class="btn btn-outline-success">Guardar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
</div>
