<h1 class="p-4">Web Persona</h1>
<!-- Page Wrapper  -->
<div id="wrapper"> 
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - inicio -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Home</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/persona">
          <i class="fas fa-fw fa-user"></i>
          <span>Persona</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" routerLinkActive="active" routerLink="/permisos">
          <i class="fas fa-fw fa-list"></i>
          <span>Permisos</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" routerLinkActive="active" routerLink="/roles">
          <i class="fas fa-fw fa-table"></i>
          <span>Roles</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" routerLinkActive="active" routerLink="/seeder">
            <i class="fas fa-fw fa-angle-up"></i>
            <span>Seeder</span></a>
    </li>
   
    <!-- Divider -->
    <hr class="sidebar-divider">
  </ul>
  <!-- End of Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!--codigo para llamar a otros componentes como la cabecera o las diferentes paginas-->
        <app-header></app-header>
        <router-outlet></router-outlet><!--cod to call components-->
    </div>
  </div>
</div>